<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color: red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color: green"><%- messages.success %></p>
<% } %>

<table class="table table-dark table-striped m-3" width="80%" border="0">
  <tr style="text-align: left; background-color: #ccc">
    <th>ID Matrix</th>
    <th>ID Kriteria</th>
    <th>Nama Kriteria</th>
    <th>Maximum</th>
    <th>Minimum</th>
  </tr>

  <% if (data) { %> <% data.forEach(function(vmatrix){ %>
  <tr>
    <td><%= vmatrix.id_matrix %></td>
    <td><%= vmatrix.id_kriteria %></td>
    <td><%= vmatrix.nm_kriteria %></td>
    <td><%= vmatrix.maximum %></td>
    <td><%= vmatrix.minimum %></td>
  </tr>
  <% }) %> <% } %>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
