<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color: red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color: green"><%- messages.success %></p>
<% } %>

<a class="btn btn-success m-3" href="/alternatif/add">Add New alternatif</a>
<br />

<table class="table table-dark table-striped m-3" width="80%" border="0">
  <tr style="text-align: left; background-color: #ccc">
    <th>Nama alternatif</th>
    <th>Action</th>
  </tr>

  <% if (data) { %> <% data.forEach(function(alternatif){ %>
  <tr>
    <td><%= alternatif.nmalternatif %></td>
    <td>
      <div style="float: left">
        <a class="btn btn-primary" href="/alternatif/edit/<%= alternatif.idalternatif %>">Edit</a> &nbsp;
        <form method="post" action="/alternatif/delete/<%= alternatif.idalternatif %>" style="float: right">
          <input class="btn btn-danger" type="submit" name="delete" value="Delete" onClick="return confirm('Are you sure you want to delete?')" />
          <input type="hidden" name="_method" value="DELETE" />
        </form>
      </div>
    </td>
  </tr>
  <% }) %> <% } %>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
